@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import "tailwindcss";
@tailwind utilities;

body {
  font-family: "Cairo", sans-serif;
}

.font-logo {
  font-family: "Lobster", sans-serif;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #F8AD47;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  position: relative;
  z-index: 30;
  transform: translateY(-40%);
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #F8AD47;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  z-index: 30;
  transform: translateY(-40%);
}


@layer utilities {
  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease-out forwards;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

/* Swiper pagination style */
.custom-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  background: #999;
  opacity: 0.5;
  border-radius: 0;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #53CCD7;
  opacity: 1;
}